body {
	background-color: #1F1F1F;
	color: #ffffff;
}

a:link, a:hover, a:visited {
	color: #cccccc;
	outline: none;
}

a:hover {
	color: #ffffff;
}


.callout a:link, .callout a:visited {
	color: #1779ba;
}

.callout a:hover {
	color: #1468a0;
}

#header {
	background-color: #282828;
	margin-bottom: 1rem;
}

#headercell {
	height: 2rem;
	line-height: 2rem;
	background-image: url("../favicon-32x32.png");
	background-position: 16px center;
	background-repeat: no-repeat;
	padding-left: 56px;
	height: 46px;
	line-height: 48px;
}

#headercell .badge {
	line-height: 1.5;
	margin-top: 7px;
	margin-left: 8px;
}

.orbit-container {
	background: none!important;
}

button.orbit-previous {
	color: #fff;
	background-color: #000;
	opacity: 75%;
	font-weight: bold;
	outline: none;
}

button.orbit-previous:hover {
	opacity: 100%!important;
}

button.orbit-next {
	color: #fff;
	background-color: #000;
	opacity: 75%;
	font-weight: bold;
	outline: none;
}

button.orbit-next:hover {
	opacity: 10%0!important;
}


h2 {
	color: #dddddd;
	font-size: 1.5rem;
	margin-bottom: 0!important;
}

h2 a:link, h2 a:hover, h2 a:visited {
	color: #dddddd;
}

#footer {
	padding: 10px;
	text-align: center;
	background-color: #282828;
}

.nowrap {
  white-space: nowrap;
}

.nomargin {
	margin-bottom: 0!important;
}

.margin_bottom {
	margin-bottom: 4rem;
}

.small_image {
	height: 100px!important;
	margin-right: 10px;
	margin-bottom: 10px;
}

.moviecard {
	/*min-height: 600px;*/
	background-color: grey;
	background-size: cover;
	background-position: top center;
	color: white;
}

.movieopacity {
	background-image: url("../img/opacity.png");
	/*min-height: 600px;*/
}

.movietext {
	padding: 3em 0em 3em 0em;
	opacity: 100%;
}

.moviecard img {
	margin-top: 3em;
}

.vote_icon_active {
	font-size: 32px;
	color: #ff0000!important;
}

.vote_icon_inactive {
	font-size: 32px;
	color: #ffffff!important;
}

.has-tip {
    border-bottom: none;
    cursor: help;
    font-weight: normal;
    margin-left: 20px;
    font-size: 12px;
    font-color: #cccccc;
}


/* Small only */
@media screen and (max-width: 39.9375em) {

	.moviecard {
		background: none!important;
	}

	.moviecard img {
		margin-top: 0em;
	}

	.movietext {
		padding: 1em 2em 1em 2em!important;
	}

	.movieoverview {
		height: 300px;
		overflow-y: auto;
	}
	
	.movieopacity {
		background: none!important;
	}

	button.orbit-previous {
		top: 35%;
	}

	button.orbit-next {
		top: 35%;
	}


}

